@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
      letter-spacing: 0.025em;
}

body{
      background-color: rgb(242, 247, 250);
      font-family: 'Roboto','Helvetica Neue','Verdana','Tahoma','Meiryo',sans-serif;
}